main img{
    float: left;
    padding-right: 20px;
    margin-left: 0px;
}

main p{
    line-height: 1,5;

}
div img{
    width: 70px;
}
div{
    float: right;
    height: 700px;
    width: 190px;
    background-color: burlywood;
    padding-top: 0px;
}
div ul{
    display: block;
}